<!DOCTYPE html>
<html lang="en">

<head>
    <title>I. M. GRREWT - The Fullstack Avenger App</title>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Instantiates MySQL GraphQL React Redux Express Webpack TypeScript"
</head>

<body>
    <div id="root"></div>

    <script src="vendors~main.chunk.js"></script>
    <script src="main.bundle.js"></script>
</body>

</html>
