.landing {
  padding: 16px;
}

.buttons-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.link {
  text-decoration: none;
  margin: 24px;

  &:first-child {
    margin-left: 0;
  }
}
